root = true
# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file

[*]
indent_style = space
indent_size = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

# Microsoft .NET properties
csharp_indent_braces = false
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = control_blocks

# ReSharper properties
resharper_csharp_empty_block_style = multiline
resharper_csharp_other_braces = end_of_line
resharper_int_align = false
resharper_int_align_properties = false
resharper_place_simple_accessorholder_on_single_line = true
resharper_remove_blank_lines_near_braces_in_code = false
resharper_wrap_object_and_collection_initializer_style = chop_always

[*.yml]
indent_size = 2

[*.xml]
indent_size = 2

[*.json]
indent_size = 2

[*.{js,cjs,mjs,ts,tsx}]
indent_size = 2

[*.csproj]
indent_size = 2

[*.cs]
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning
dotnet_style_require_accessibility_modifiers = never:warning

csharp_style_expression_bodied_methods = true:silent
csharp_style_expression_bodied_properties = true:warning
csharp_style_expression_bodied_indexers = true:warning
csharp_style_expression_bodied_accessors = true:warning
insert_final_newline = true
csharp_prefer_static_local_function = true:suggestion
csharp_prefer_simple_using_statement = true:warning
csharp_using_directive_placement = outside_namespace:warning
csharp_style_var_for_built_in_types = true:silent
csharp_style_var_when_type_is_apparent = true:silent
csharp_style_var_elsewhere = true:silent

[*.{cs,vb}]
dotnet_style_parentheses_in_other_operators = never_if_unnecessary:warning
dotnet_diagnostic.ca2250.severity = warning
dotnet_diagnostic.ca2252.severity = warning
dotnet_diagnostic.ca1816.severity = warning
dotnet_style_qualification_for_field = false:silent
dotnet_style_qualification_for_property = false:silent
dotnet_style_qualification_for_method = false:silent
dotnet_style_qualification_for_event = false:silent
